{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 mx-auto text-center">

            <div>
                <img src="{{ url_for('static', filename = 'img/logo.png') }}" width="128"  >

            </div>

            <h1>Реестр Реализованых Авто</h1>

            {% if current_user.is_authenticated %}
            <p>Перейти к <a href="{{ url_for('rra.index_view')}}">реестру</a></p>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <p>
                Для использования реестра вам необходимо <a class="link" href="{{ url_for('security.login') }}">войти</a> в систему.
            </p>
            <p>
                <a class="btn btn-outline-primary" href="{{ url_for('security.login') }}">Вход</a> <a class="btn btn-outline-success" href="{{ url_for('security.register') }}">Регистрация</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}